.container {
    margin:  0px 250px;
}

body {
    margin: 0%;
    font-family: 'Raleway', sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.nav{
    display: inline-flex;
    justify-content: flex-end;
}

.header {
    background-image: url(bg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover; 
}

.header-line {
    padding-top: 50px;
    display: flex;
    align-items: end;

}

.header {
    display: flex;
    flex-direction: column;
}
.nav {
    display: inline-flex;
    align-items: flex-end;
    justify-content: flex-end;
}
 
.nav-item {
    color: rgb(215, 215, 215);
    text-decoration: none;
    font-weight: 800;
    font-size: 25px;
    margin-right: 35px;
    transition: color 0.3s linear;
}
.nav-item:hover {
    color: rgb(234, 58, 78);
}


.header-title {
    color: aliceblue;
    font-size: 40px;
    font-weight: 600;
   margin-top: 225px;
   margin-left: 70px;
   
}
.header-subtitle {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight:400;

}

.header-subsubtitle {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight:300; 
}

.history {
    margin-top: 80px;
    margin-bottom:80px;
   
}
.histore-title {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 600;
}

.histore-deck {
    font-size: 25px;
    width: 600px;
    margin-top: 30px;
}

.histore-adeck {
    font-size: 25px;
    width: 600px;
    margin-top: 30px;
}

.histore-edeck {
    font-size: 25px;
    width: 490px;
    margin-top: 30px;
}

.history-holder {
    display: flex;
    justify-content: space-between;
}

.history-images {
    position: relative;
}

.images-1 {
 width: 300px;
 position: absolute;
 z-index: 900;
 top: 74px;
 left: -333px;
}


.images-2 {
    width: 200px;
    position: absolute;
    z-index: 900;
    top: 273px;
    left: -233px;
}

.images-3 {
    width: 251px;
    position: absolute;
    z-index: 900;
    top: 75px;
    left: -26px;
   
}
